
.main {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: #222;
  color: #eee;
  font-family: Helvetica Neue;
}

.topbar a {
  color: #ddd;
  font-weight: bold;
  margin: 10px;
  text-decoration: none;
}

.body {
  margin: 10px;
}

.body table {
  color: #eee;
}
